<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<p><%= link_to "Mes taches", tasks_path %>




<!-- <a data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="/task/6">
  Delete
</a> -->
